#row-footer {
  background-color: rgb(51, 50, 50);
  width: 100%;
  color: white;
  padding: 30px 0;
  margin-top: 0;
}
.ul-footer {
  color: white;
  list-style: none;
  padding: 0;
}
.ul-footer li a {
  text-decoration: none;
  color: white;
}

.logo-footer {
  width: 200px;
}
.ig-logo {
  height: 55px;
  width: 90px;
}
.x-logo {
  height: 50px;
  width: 50px;
}
